@charset "UTF-8";

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(6, 6, 79);
    color: rgb(223, 217, 217);
    height: 100vh;
    width: 100vw;
}

header{
    background-color: rgb(48, 173, 201);
    padding: 10px;
}

header > h1{
    border: 2px dotted white;
}

header > nav{
    border: 2px dotted white; 
    
}
main{
    
    background-color: rgb(69, 109, 203);
    margin: 10px;
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 4px 5px 3px white;


}

